$global-color: rgba(3, 3, 3, 1);
$global-color-white: rgba(255, 247, 240, 1);
$global-color-orange: rgba(246, 165, 96, 1);
$global-weight: 700;
$global-weight-one: 500;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.5rem;
  line-height: 1.7;
  background-color: #fff7f0;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 165px;
  padding-right: 165px;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

.header {
  margin-top: 3.4rem;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    background-color: $global-color;
    width: 22.8rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    border: 1px solid transparent;
  }

  &__item {
    color: $global-color-white;
    font-weight: $global-weight;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 1.4rem 4.5rem;
  }

  &__text:hover {
    background-color: rgba(117, 92, 222, 1);
  }
}

.sitenav__container {
  text-align: center;
}

.sietnav__text {
  color: $global-color;
  font-weight: $global-weight;
  font-size: 5.6rem;
  line-height: 7rem;
  margin-top: 6.6rem;
}
.sitenav__texts {
  color: rgba(122, 116, 110, 1);
  font-weight: $global-weight-one;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-top: 2.3rem;
  width: 60rem;
  height: 5.6rem;
  margin-left: auto;
  margin-right: auto;
}

.sitenav {
  margin-top: 8rem;
  margin-bottom: 13.6rem;
}

.sitenav__title {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.box1 {
  background-color: rgba(117, 92, 222, 1);
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  padding: 31rem 12rem 2.4rem 2.4rem;
  background-image: url(../images/pattern-graphic-design.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 2rem;
}

.box2 {
  background-color: $global-color-orange;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  padding: 12.8rem 5.8rem 2.4rem 2.3rem;
  background-image: url(../images/pattern-ui-ux.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 2rem;
}

.box3 {
  background-color: rgba(243, 158, 158, 1);
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  padding: 12.8rem 6.7rem 2.4rem 2.4rem;
  background-image: url(../images/pattern-apps.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 2rem;
}

.box4 {
  background-color: rgba(97, 196, 183, 1);
  grid-row: 1 / 2;
  grid-column: 5 / 7;
  padding: 12.8rem 14.8rem 2.4rem 2.3rem;
  background-image: url(../images/pattern-photography.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 2rem;
}

.box5 {
  background-color: rgba(235, 117, 101, 1);
  grid-row: 2 / 3;
  grid-column: 3 / 5;
  padding: 10.4rem 16.7rem 2.4rem 2.4rem;
  background-image: url(../images/pattern-illustrations.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 2rem;
}

.box6 {
  background-color: rgba(85, 32, 73, 1);
  grid-row: 2 / 3;
  grid-column: 5 / 7;
  padding: 10.4rem 10.3rem 2.4rem 2.4rem;
  background-image: url(../images/pattern-motion-graphics.svg);
  background-repeat: no-repeat;
  background-position: top 2rem right 2rem;
}

.sitenav__box {
  width: 16.4rem;
  height: 18.2rem;
  border-radius: 8px;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  min-height: 100%;
  font-weight: $global-weight;
  font-size: 2.4rem;
  line-height: 3rem;
}

.work {
  margin-bottom: 8.8rem;

  &__text {
    font-weight: $global-weight;
    font-size: 4rem;
    line-height: 5rem;
    color: $global-color;
    width: 50rem;
    height: 10rem;
    margin-bottom: 3.4rem;
  }

  &__item {
    margin-top: 7rem;
  }

  &__texts {
    font-weight: $global-weight-one;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: rgba(122, 116, 110, 1);
    width: 48rem;
    height: 8.4rem;
    margin-bottom: 3.2rem;
  }

  &__button {
    background-color: rgba(235, 117, 101, 1);
    width: 22.8rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    border: 1px solid transparent;
  }

  &__title {
    color: $global-color-white;
    font-weight: $global-weight;
    font-size: 1.6rem;
    padding: 1.4rem 4.5rem;
  }

  &__button:hover {
    background-color: $global-color-orange;
  }
}

.work__container {
  display: flex;
  gap: 12.5rem;
}

.works {
  &__text {
    text-align: center;
    margin-bottom: 5.6rem;
    font-size: 3.2rem;
    font-weight: $global-weight;
    line-height: 4rem;
    color: $global-color;
  }

  &__item {
    display: flex;
    gap: 3rem;
    margin-bottom: 5.6rem;
    align-items: center;
    justify-content: center;
  }

  &__images {
    width: 6.4rem;
    height: 6.4rem;
    background-color: $global-color;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__one {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 8.8rem;
    align-items: center;
    justify-content: center;
  }

  &__images:hover {
    background-color: rgba(117, 92, 222, 1);
  }
}

.book {
  &__item {
    display: flex;
    gap: 19rem;
  }

  &__text {
    font-weight: $global-weight;
    color: $global-color-white;
    font-size: 4rem;
    line-height: 5rem;
    margin-top: 8.1rem;
    margin-bottom: 2.5rem;
  }

  &__texts {
    font-weight: $global-weight-one;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $global-color-white;
    width: 46rem;
    height: 8.4rem;
  }

  &__button {
    background-color: rgba(235, 117, 101, 1);
    width: 22.8rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    border: 1px solid transparent;
    margin-top: 13.2rem;
  }

  &__titles {
    color: $global-color-white;
    font-weight: $global-weight;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 1.4rem 4.5rem;
  }

  &__button:hover {
    background-color: $global-color-orange;
  }

  &__title {
    margin-left: -10rem;
  }
}

.book__container {
  background-color: $global-color;
  width: 111rem;
  height: 32rem;
  border-radius: 1rem;
  margin-bottom: 5.6rem;
}

.footer__container {
  margin-bottom: 5.6rem;
}
